@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Coming Soon', cursive;
}

#upcoming-events-title {
    font-size: 2rem;
    margin-top: 50px;
    background-color: #eee1f5;
    padding: 1em;
}

#profileSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-evenly;
}

#upcoming-events {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-evenly;
}
