#profileImg {
    width: 150px;
    border-radius: 100%;
    align-self: center;
}

#profileText {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

#profileBlock {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
    width: 30%;
    align-self: center;
}

h1 {
    align-items: center;
    padding-top: 5px;
    margin: 5px;
}

p {
    align-items: center;
    padding: 5px;
    margin: 5px;
}
