#eventText {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 0;
}

#eventBlock {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
    width: 60%;
    align-self: center;
    margin: 20px;
}

#eventMain {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 10px;
    width: 100%;
}

#eventDescription {
    padding-right: 2.5%;
    padding-top: 10px;
}

#eventAttendance {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

#eventMain h1 {
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 0.83rem;
    text-align: center;
}

#eventBlock h2 {
    font-size: 2vw;
}

#eventBlock p {
    font-size: 1.5vw;
}
