#eventText {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 0;
}

#eventBlock {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
    padding-top: 0;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
    width: 60%;
    align-self: center;
    margin: 20px;
}

#eventMain {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    width: 17.5%;
}

#eventDescription {
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    width: 50%;
}

#eventAttendance {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    width: 17.5%;
}

h1 {
    align-items: flex-start;
}
