.navigation{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    Width: 100%;
    Height: 3.5vh;
    background-color: white;
    padding: 3.5vh;
    color: black;
    background-color: rgb(238, 225, 245);
}

.navigation ul{
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20px 30px;
    padding: 0 25px;
}

.navigation ul li{
    list-style-type: none;
    padding-right: 10px;
    cursor: pointer;
}

.navigation ul a:hover{
    color: blue;
}

a, a:visited{
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

.active {
    color: blue !important;
}

@media screen and (max-width: 900px){
    .navigation ul{
        display:flex;
        position: absolute;
        flex-direction: column;
        top: 8vh;
        background-color: rgba(227, 212, 235, 0.7);
        z-index: 200;
        float: left;
        margin: 20 0px;
        padding: 0 5vw;
        border-radius: 10px;
    }

    .navigation ul a{
        padding-bottom: 5px;
        padding-top: 5px;
        margin-left: 0;
    }

    .navigation {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 2vh 3vh 4.5vh 3vh;
    }

    .navigation {
        display: flex;
        align-items: flex-start;
    }
}

.hamburger {
    display: flex;
    height: 7vh;
}

#spacer{
    padding: 6vh;
}
